<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="center hide-on-med-and-down">
        <li routerLinkActive="active"><a routerLink="/zadania">Zadania</a></li>
        <li routerLinkActive="active"><a routerLink="/wykonane">Wykonane</a></li>
        <li *ngIf="!authService.user" routerLinkActive="active"><a routerLink="/login">Zaloguj</a></li>
        <li *ngIf="authService.user"><a (click)="logout()">Wyloguj</a></li>
        <span *ngIf="authService.user">Witaj, {{ authService.user.email }}</span>
      </ul>
    </div>
</nav>
<!-- <div class="container">
  <app-add-task></app-add-task>
  <div class="row">
    <app-task-list></app-task-list>
    <app-task-done></app-task-done>
    <button (click)="save()">Zapisz</button>
  </div>
</div> -->
<router-outlet></router-outlet>