/* You can add global styles to this file, and also import other style files */
.container {
    max-width: 1160px;
    margin: 0 auto; 
    padding: 0 10px;
} 
.row {
    display: flex;
    justify-content: space-between;
}
label {
    position: absolute;
    left: -999999px;
}
.task {
    &__add {
        display: flex;
        justify-content: center;
        margin: 50px 0;
    }
}
.checked {
    background: green;
}